node-red-demo.flow
[{"id":"fd787846.4b6958","type":"tab","label":"Device and UI","disabled":false,"info":""},{"id":"b2bc5b4b.9b9148","type":"tab","label":"VisualRegonition","disabled":false,"info":""},{"id":"9b9bcec7.6433a","type":"tab","label":"VR UI","disabled":false,"info":""},{"id":"8d43ea1a.bf0038","type":"tab","label":"ChatBot","disabled":false,"info":""},{"id":"101ded44.2bbdb3","type":"ibmiot","z":"","name":"ibmnewhire","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"720f7cee.d55094","type":"ui_group","z":"fd787846.4b6958","name":"IBMNH","tab":"d20a472a.988b6","disp":true,"width":"6"},{"id":"5b92075f.eed9d8","type":"ibmiot","z":"","name":"burgerhack","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c792656b.d9cfc8","type":"ui_group","z":"","name":"Demo","tab":"d2e32e44.31d86","disp":true,"width":"6","collapse":false},{"id":"d2e32e44.31d86","type":"ui_tab","z":"","name":"Demo1","icon":"dashboard"},{"id":"7e77a06b.976ec","type":"os-config","z":"b2bc5b4b.9b9148","cfgtype":"api","region":"dallas","projectId":"0b32e592b4cf491aad671aea77481a5c","userId":"ac6f91c3b9244a268c83db8fba893f8d","userName":"admin_084396057b4fde902feb384ba956fac27b38ff60","password":"veSoggOtvB=4{*T2","name":"HariObjectStore"},{"id":"ed5f144.0e9ebe8","type":"os-config","z":"","cfgtype":"api","region":"dallas","projectId":"0b32e592b4cf491aad671aea77481a5c","userId":"ac6f91c3b9244a268c83db8fba893f8d","userName":"admin_084396057b4fde902feb384ba956fac27b38ff60","password":"veSoggOtvB=4{*T2","name":"HariObjectStore"},{"id":"9b70195.3a341e8","type":"os-config","z":"","cfgtype":"api","region":"dallas","projectId":"0b32e592b4cf491aad671aea77481a5c","userId":"ac6f91c3b9244a268c83db8fba893f8d","userName":"admin_084396057b4fde902feb384ba956fac27b38ff60","password":"veSoggOtvB=4{*T2","name":"HariObjectStore"},{"id":"65ebf026.0903d","type":"ui_group","z":"","name":"Image display","tab":"6ed98cdc.ed82d4","order":2,"disp":true,"width":"12","collapse":false},{"id":"ce3a1920.20e3f8","type":"ui_group","z":"","name":"Test","tab":"6ed98cdc.ed82d4","order":1,"disp":true,"width":"4","collapse":false},{"id":"4ebd45d1.8f60bc","type":"ui_group","z":"","name":"Telemetry","tab":"6ed98cdc.ed82d4","order":4,"disp":true,"width":"4"},{"id":"8d885235.02c64","type":"cloudant","z":"","host":"https://944a7270-2006-447a-b88e-cf27518188c3-bluemix:954bf279ef73ebea14fc50fff3ff53b106c34e9a96a0df3f85c01bcea8dc56cf@944a7270-2006-447a-b88e-cf27518188c3-bluemix.cloudant.com","name":"HariCloudantDB"},{"id":"af5268e0.b19aa8","type":"ibmiot","z":"","name":"ra664","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"b361588f.f2b5b8","type":"ui_group","z":"","name":"Scores","tab":"6ed98cdc.ed82d4","order":3,"disp":true,"width":"4","collapse":false},{"id":"6ed98cdc.ed82d4","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"},{"id":"9b8a2674.b47768","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6aa74337.d2560c","type":"websocket-listener","z":"","path":"/ws/tjaudio","wholemsg":"false"},{"id":"5e7c8adf.628d64","type":"ui_group","z":"","name":"Compass","tab":"f57449b8.1ee378","disp":true,"width":"6","collapse":false},{"id":"a6bc973.5f0d068","type":"ibmiot","z":"","name":"ibmnewhire","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f57449b8.1ee378","type":"ui_tab","z":"","name":"IBMNH","icon":"dashboard"},{"id":"f9ad53d6.8b3ec","type":"ibmiot in","z":"fd787846.4b6958","authentication":"apiKey","apiKey":"5b92075f.eed9d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Markus","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":214,"wires":[["b5d786de.04cda8","56ff4b3d.4d84d4","e5467402.484278"]]},{"id":"b5d786de.04cda8","type":"debug","z":"fd787846.4b6958","name":"","active":true,"console":"false","complete":"false","x":414.44445037841797,"y":215.11111450195312,"wires":[]},{"id":"1ab172dc.5a4d9d","type":"ui_gauge","z":"fd787846.4b6958","name":"","group":"c792656b.d9cfc8","order":0,"width":0,"height":0,"gtype":"gage","title":"userVaue","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":682.2222366333008,"y":168.44443702697754,"wires":[]},{"id":"56ff4b3d.4d84d4","type":"function","z":"fd787846.4b6958","name":"","func":"msg.payload = msg.payload.d.userValue\nreturn msg;","outputs":1,"noerr":0,"x":407.7777671813965,"y":165.11110591888428,"wires":[["1ab172dc.5a4d9d"]]},{"id":"ea73ef72.00fe","type":"http in","z":"b2bc5b4b.9b9148","name":"/vrtest","url":"/vrtest","method":"get","upload":false,"swaggerDoc":"","x":137.5,"y":667.5,"wires":[["b87d3a2.e4354c8"]]},{"id":"3d4984c1.c0f6dc","type":"template","z":"b2bc5b4b.9b9148","name":"Form and Response Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n    <h1> Store Image and Test Classifier </h1>    \n       <form action=\"/store\" method=\"post\" enctype=\"multipart/form-data\">\n           <input type=\"file\" name=\"pic\" accept=\"image/*\"><br>\n           <input type=\"submit\" value=\"Store\">\n       </form>\n       <div><h3>Object Store Infos:</h3></div>\n       objectname: {{objectname}}<br>\n       container: {{container}}<br>\n       url:{{url}}<br>\n       <img src='{{url}}' width=400><br>\n        <div><h3>Classifications:</h3></div>\n      \n         <form action=\"/vrtest\" method=\"get\" enctype=\"multipart/form-data\">\n           <input type=\"submit\" value=\"Refresh / Results\">\n       </form>\n            \n       <div>\n           \n           {{#result}}\n           <table>\n           <tr>\n               <th>Class</th>\n               <th>Score</th>\n               <th>Type</th>\n               <th>classifier_id</th>\n           </tr>\n           {{#images}}\n           {{#.}}\n           {{#classifiers}}\n           {{classifier_id}}<hr>\n           {{#.}}\n           {{#classes}}\n           {{#.}}\n               <tr>\n                   <td>{{class}}</td>\n                   <td>{{score}}</td>\n                   <td>{{&type_hierarchy}}</td>\n                    <td>{{&classifier_id}}</td>\n               </tr>\n           {{/.}}\n           {{/classes}}\n           {{/.}}\n           {{/classifiers}}\n           {{/.}}\n           {{/images}}\n           </table>\n           {{/result}}\n       </div>\n    </body>\n</html>","output":"str","x":697.5,"y":707.5,"wires":[["3562f9d1.736716","9a5e10e.7493bf"]]},{"id":"3562f9d1.736716","type":"http response","z":"b2bc5b4b.9b9148","name":"","statusCode":"","headers":{},"x":977.5,"y":707.5,"wires":[]},{"id":"ad8f3d61.0b57f","type":"http in","z":"b2bc5b4b.9b9148","name":"","url":"/store","method":"post","upload":true,"swaggerDoc":"","x":177.5,"y":87.5,"wires":[["7cb9aa01.dea604","846d04b4.0a30d8"]]},{"id":"7cb9aa01.dea604","type":"debug","z":"b2bc5b4b.9b9148","name":"Image Data","active":true,"console":"false","complete":"true","x":377.5,"y":47.5,"wires":[]},{"id":"846d04b4.0a30d8","type":"function","z":"b2bc5b4b.9b9148","name":"Store","func":"global.set(\"objhttp\",msg)\nmsg.payload = msg.req.files[0]\nreturn msg;","outputs":1,"noerr":0,"x":357.5,"y":147.5,"wires":[["da27485b.76f1f8","c1478c65.d7a19"]]},{"id":"da27485b.76f1f8","type":"debug","z":"b2bc5b4b.9b9148","name":"","active":true,"console":"false","complete":"true","x":517.5,"y":147.5,"wires":[]},{"id":"829b4c43.64464","type":"inject","z":"b2bc5b4b.9b9148","name":"","topic":"","payload":"\"mvk\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":157.5,"y":307.5,"wires":[["b187533.184aeb"]]},{"id":"b187533.184aeb","type":"function","z":"b2bc5b4b.9b9148","name":"filebuffer","func":"msg.payload = {}\ndata = global.get(\"objhttp\")\nmsg.payload =  data.req.files[0]\n\nreturn msg;","outputs":1,"noerr":0,"x":367.5,"y":307.5,"wires":[["c1478c65.d7a19","ba8eeb97.60a428"]]},{"id":"c1478c65.d7a19","type":"function","z":"b2bc5b4b.9b9148","name":"SetOSName","func":"\nmsg.filename  =msg.payload.originalname\nmsg.container   =\"IFFToronto\" //msg.payload.ObjectStoreContainerName;\n\nmsg.payload = msg.payload.buffer\nreturn msg;","outputs":1,"noerr":0,"x":557.5,"y":307.5,"wires":[["1cec052e.e88f8b"]]},{"id":"1cec052e.e88f8b","type":"os-put","z":"b2bc5b4b.9b9148","name":"","container":"IFFToronto","objectname":"","objectmode":"0","imageformat":"jpeg","audioformat":"wav","filepath":"","filename":"","formattype":"0","mode":"1","osconfig":"ed5f144.0e9ebe8","x":777.5,"y":307.5,"wires":[["deda0b04.d94208","80e5304e.7793c"]]},{"id":"deda0b04.d94208","type":"debug","z":"b2bc5b4b.9b9148","name":"StoreIMG","active":true,"console":"false","complete":"true","x":987.5,"y":307.5,"wires":[]},{"id":"ba8eeb97.60a428","type":"debug","z":"b2bc5b4b.9b9148","name":"","active":true,"console":"false","complete":"true","x":497.5,"y":387.5,"wires":[]},{"id":"80e5304e.7793c","type":"function","z":"b2bc5b4b.9b9148","name":"SaveandSetBuffer","func":"global.set(\"objos\",msg)\nglobal.set(\"url\",msg.url)\nnode.warn(msg.filename)\ndata = global.get(\"objhttp\")\nmsg.payload=data.req.files[0].buffer\nreturn msg;","outputs":1,"noerr":0,"x":777.5,"y":387.5,"wires":[["3d4984c1.c0f6dc","7df4368e.7300c8"]]},{"id":"7df4368e.7300c8","type":"function","z":"b2bc5b4b.9b9148","name":"VR Parameters & Classifiername","func":"var buf = Buffer(msg.payload);\n//key bd7c6815fafd62f286e6c7970dc72bfb4f3e1c04\nparameters = {\n   classifier_ids: [  \"default\"],\n   // classifier_ids: [\"TobaccoDockv1_893016829\"],\n    //classifier_ids: [\"StarWarsAllInOne_661995804\",\"SWUwing_2123016937\",\"SWMillenniumFalcon_36072377\"],\n //   owner: \"15d650e6-0947-4cf5-b2b6-3cca68db3193\",\n    threshold: 0.01\n};\n\nparametersMVK = {\n\tclassifier_ids: [\"LegoCityV23_387019655\"], //haris\n //   owner: \"15d650e6-0947-4cf5-b2b6-3cca68db3193\",\n    threshold: 0.01\n};\nmsg = {\n  payload: msg.payload,\n  params: parameters\n};\nnode.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":817.5,"y":467.5,"wires":[["160397d4.6354c8"]]},{"id":"160397d4.6354c8","type":"visual-recognition-v3","z":"b2bc5b4b.9b9148","name":"Waston Analyzer","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":1117.5,"y":467.5,"wires":[["26276ca4.4473c4","a960cac0.e2cb38"]]},{"id":"26276ca4.4473c4","type":"debug","z":"b2bc5b4b.9b9148","name":"VRResult","active":true,"console":"false","complete":"true","x":1047.5,"y":567.5,"wires":[]},{"id":"6849f274.b29a1c","type":"function","z":"b2bc5b4b.9b9148","name":"Test","func":"objos = global.get(\"objos\")\nobjhttp = global.get(\"objhttp\")\nmsg.payload=objhttp.req.files[0].buffer\nmsg.objectname = objos.filename\nreturn msg;\n","outputs":1,"noerr":0,"x":497.5,"y":467.5,"wires":[["bc044e87.f4eb3","7df4368e.7300c8"]]},{"id":"c7b24f14.36a9b","type":"inject","z":"b2bc5b4b.9b9148","name":"","topic":"","payload":"\"mvk\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":137.5,"y":467.5,"wires":[["6849f274.b29a1c"]]},{"id":"b87d3a2.e4354c8","type":"function","z":"b2bc5b4b.9b9148","name":"GetOSData","func":"data = global.get(\"objos\")\nmsg.objectname=data.objectname\nmsg.container=data.container\nmsg.url=data.url\nmsg.payload={}\nmsg.result=global.get(\"vrresult\").result\nreturn msg;","outputs":1,"noerr":0,"x":377.5,"y":667.5,"wires":[["3d4984c1.c0f6dc","c3cba73.3708e58"]]},{"id":"c3cba73.3708e58","type":"debug","z":"b2bc5b4b.9b9148","name":"Display","active":true,"console":"false","complete":"true","x":367.5,"y":747.5,"wires":[]},{"id":"bc044e87.f4eb3","type":"debug","z":"b2bc5b4b.9b9148","name":"","active":true,"console":"false","complete":"true","x":477.5,"y":527.5,"wires":[]},{"id":"75e3fd74.700844","type":"http in","z":"b2bc5b4b.9b9148","name":"","url":"/classify","method":"post","upload":false,"swaggerDoc":"","x":157.5,"y":547.5,"wires":[["dad78db8.564c8","6849f274.b29a1c"]]},{"id":"dad78db8.564c8","type":"debug","z":"b2bc5b4b.9b9148","name":"in-classify","active":true,"console":"false","complete":"true","x":147.5,"y":587.5,"wires":[]},{"id":"9a5e10e.7493bf","type":"debug","z":"b2bc5b4b.9b9148","name":"output","active":true,"console":"false","complete":"true","x":877.5,"y":807.5,"wires":[]},{"id":"d308d05c.f383d","type":"template","z":"b2bc5b4b.9b9148","name":"Form and Response Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n    <h1> Store Image and Test Classifier </h1>    \n       <form action=\"/store\" method=\"post\" enctype=\"multipart/form-data\">\n           <input type=\"file\" name=\"pic\" accept=\"image/*\"><br>\n           <input type=\"submit\" value=\"Store\">\n       </form>\n       <div><h3>Object Store Infos:</h3></div>\n       objectname: {{objectname}}<br>\n       container: {{container}}<br>\n       url:{{url}}<br>\n       <img src='{{url}}' width=200><br>\n        <div><h3>Classifications:</h3></div>\n       <form action=\"/classify\" method=\"post\" enctype=\"multipart/form-data\">\n           <input type=\"submit\" value=\"Classify\">\n       </form>\n       \n       <div>\n           \n           {{#result}}\n           <table>\n           <tr>\n               <th>Class</th>\n               <th>Score</th>\n               <th>Type</th>\n           </tr>\n           {{#images}}\n           {{#.}}\n           {{#classifiers}}\n           {{#.}}\n           {{#classes}}\n           {{#.}}\n               <tr>\n                   <td>{{class}}</td>\n                   <td>{{score}}</td>\n                   <td>{{&type_hierarchy}}</td>\n               </tr>\n           {{/.}}\n           {{/classes}}\n           {{/.}}\n           {{/classifiers}}\n           {{/.}}\n           {{/images}}\n           </table>\n           {{/result}}\n       </div>\n    </body>\n</html>","output":"str","x":357.5,"y":867.5,"wires":[[]]},{"id":"a960cac0.e2cb38","type":"function","z":"b2bc5b4b.9b9148","name":"SaveVRResults","func":"global.set(\"vrresult\",msg)\n\nreturn msg;","outputs":1,"noerr":0,"x":827.5,"y":567.5,"wires":[["b87d3a2.e4354c8"]]},{"id":"62b2bb58.c03f84","type":"http in","z":"b2bc5b4b.9b9148","name":"/vrtest1","url":"/vrtest1","method":"get","upload":false,"swaggerDoc":"","x":162.5,"y":773.75,"wires":[["3d4984c1.c0f6dc"]]},{"id":"9718d444.2403b8","type":"function","z":"9b9bcec7.6433a","name":"test mqtt msg Fire","func":"msg.payload={\ndroneName: \"IFF Toronto\",\ncameraMode: 0,\nObjectStoreImageName: \"2018-09-28 18.44.14.jpg\",//\"2017-05-13 19.50.19.jpg\", //1495115457.90161.jpg\",\ncompassCalibrationStatus: 0,\nObjectStoreContainerName: \"IFFToronto\",\ncompassHeading: -54.5,\naltitude: 0,\ncameraDisplayName: \"Phantom 4 Camera\",\ncompassIsCalibrating: false,\ncompassHasError: false,\nvelocityZ: 0,\nhomeLongitude: -77.40321109748876,\nbatteryCellVoltages: 3779,\nvelocityX: 0,\nvelocityY: 0,\nhomeLatitude: 38.9041721220009}\n//2017-05-13 19.50.09.jpg \n// 2017-05-13 19.50.19.jpg \n\nreturn msg;","outputs":1,"noerr":0,"x":413.75,"y":295,"wires":[["b42646df.fb7918"]]},{"id":"65527686.ef6998","type":"os-get","z":"9b9bcec7.6433a","name":"Get Images","container":"CebitImageStorage","objectname":"1490028732.57425.jpg","filepath":"","filename":"","mode":"1","osconfig":"9b70195.3a341e8","x":413.75,"y":415,"wires":[["85e7aea6.bc999","b44de988.65ddd8"]]},{"id":"baaa1e29.2518d","type":"debug","z":"9b9bcec7.6433a","name":"","active":true,"console":"false","complete":"true","x":600.75,"y":359.3690185546875,"wires":[]},{"id":"deae48e7.08ebc8","type":"function","z":"9b9bcec7.6433a","name":"SetOSName","func":"\n//telemetry-1489441542.22509\n//msg.objectname  =\"telemetry-\"+msg.payload.snapshot.split(\"Storage/\")[1];\nmsg.objectname  =msg.payload.ObjectStoreImageName;\nmsg.container   =msg.payload.ObjectStoreContainerName;\nmsg.payload.homeLongitude = -77.0322999;\nmsg.payload.homeLatitude = 38.8969423;\nmsg.ts = Date.now();\nvar i = 1;\ni = context.global.get(\"counter\");\nmsg.cnt = i;\ni++;\ncontext.global.set(\"counter\",i);\ncontext.global.set(\"payload\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":411.75,"y":358.924560546875,"wires":[["baaa1e29.2518d","65527686.ef6998","7e28c285.f7598c"]]},{"id":"b42646df.fb7918","type":"function","z":"9b9bcec7.6433a","name":"add ts","func":"\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp);\n  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n  var year = a.getFullYear();\n  var month = months[a.getMonth()];\n  var date = a.getDate();\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  var sec = a.getSeconds();\n  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;\n  return time;\n}\n\n\nvar i = context.global.get(\"savecounter\");\nmsg.payload.imgcnt = i;\ni++;\ncontext.global.set(\"savecounter\",i);\n//context.global.set(\"payload\",msg);\nmsg.ts = Date.now();\nmsg.timedate = timeConverter(msg.ts);\nreturn msg;","outputs":1,"noerr":0,"x":192.25,"y":357.924560546875,"wires":[["deae48e7.08ebc8"]]},{"id":"9149eb7f.472918","type":"ui_template","z":"9b9bcec7.6433a","group":"65ebf026.0903d","name":"Show Drone Image","order":1,"width":"12","height":"7","format":"{{msg.objectname}}/{{msg.cnt}}/{{msg.timedate}}\n<img  height=600 width=600 alt=\"image\" ng-src=\"{{msg.payload}}\"/>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":813.75,"y":415,"wires":[[]]},{"id":"85e7aea6.bc999","type":"function","z":"9b9bcec7.6433a","name":"('base64')","func":"//var buf = new Buffer(msg.req.body, \"base64\");\nmsg.payload = \"data:image/jpeg;base64,\" + msg.payload.toString('base64');\n\n//node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":603.75,"y":415,"wires":[["9149eb7f.472918"]]},{"id":"ac572272.60e8d","type":"function","z":"9b9bcec7.6433a","name":"test mqtt msg fenderbender","func":"msg.payload={\ndroneName: \"IFF Toronto\",\ncameraMode: 0,\nObjectStoreImageName: \"2018-09-28 18.43.34.jpg\",//\"2017-05-13 19.50.19.jpg\", //1495115457.90161.jpg\",\ncompassCalibrationStatus: 0,\nObjectStoreContainerName: \"IFFToronto\",\ncompassHeading: -54.5,\naltitude: 0,\ncameraDisplayName: \"Phantom 4 Camera\",\ncompassIsCalibrating: false,\ncompassHasError: false,\nvelocityZ: 0,\nhomeLongitude: -77.40321109748876,\nbatteryCellVoltages: 3779,\nvelocityX: 0,\nvelocityY: 0,\nhomeLatitude: 38.9041721220009}\n//2017-05-13 19.50.09.jpg \n// 2017-05-13 19.50.19.jpg \n\nreturn msg;","outputs":1,"noerr":0,"x":443.75,"y":255,"wires":[["b42646df.fb7918"]]},{"id":"fed32ca.281b3d","type":"ui_button","z":"9b9bcec7.6433a","name":"","group":"ce3a1920.20e3f8","order":3,"width":0,"height":0,"passthru":false,"label":"Fries","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":113.75,"y":95,"wires":[["ca89d97b.b4bc98"]]},{"id":"f67c5659.992538","type":"ui_button","z":"9b9bcec7.6433a","name":"","group":"ce3a1920.20e3f8","order":2,"width":0,"height":0,"passthru":false,"label":"Tomato","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":663.75,"y":75,"wires":[["759c5a10.d46734"]]},{"id":"b44de988.65ddd8","type":"function","z":"9b9bcec7.6433a","name":"VR Parameters= ClassifierName","func":"var buf = Buffer(msg.payload);\n//key bd7c6815fafd62f286e6c7970dc72bfb4f3e1c04\n// classifier iff_toronto_v1_1131676866\n//new key badaccident\n//n2vv4lLoy5Kpfj6SMvN4vHt7DyccJRNS6iLerQMap0h1\n//classifier IFF_TORONTO_423773212\nparameters = {\n   classifier_ids: [ \"default\",\"food\",\"MCD_556867450\"],\n   // classifier_ids: [\"TobaccoDockv1_893016829\"],\n    //classifier_ids: [\"StarWarsAllInOne_661995804\",\"SWUwing_2123016937\",\"SWMillenniumFalcon_36072377\"],\n //   owner: \"15d650e6-0947-4cf5-b2b6-3cca68db3193\",\n    threshold: 0.01\n};\n\nparametersMVK = {\n\tclassifier_ids: [\"LegoCityV23_387019655\"], //haris\n //   owner: \"15d650e6-0947-4cf5-b2b6-3cca68db3193\",\n    threshold: 0.01\n};\nmsg = {\n  payload: msg.payload,\n  params: parameters\n};\nnode.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":393.75,"y":535,"wires":[["8b68981b.a17fc8"]]},{"id":"8b68981b.a17fc8","type":"visual-recognition-v3","z":"9b9bcec7.6433a","name":"Waston Analyzer","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":673.75,"y":535,"wires":[["1ae80f31.1ffc71","cb44ab78.9171d8"]]},{"id":"c53db98d.6beb28","type":"comment","z":"9b9bcec7.6433a","name":"Capture","info":"","x":133.75,"y":475,"wires":[]},{"id":"92c4ff50.40eea","type":"debug","z":"9b9bcec7.6433a","name":"InDroneComing","active":false,"console":"false","complete":"payload","x":183.75,"y":575,"wires":[]},{"id":"517ef137.2e618","type":"ibmiot in","z":"9b9bcec7.6433a","authentication":"boundService","apiKey":"af5268e0.b19aa8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":133.75,"y":515,"wires":[["92c4ff50.40eea","b42646df.fb7918"]]},{"id":"1c3ecd3c.681b23","type":"switch","z":"9b9bcec7.6433a","name":"","property":"result.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":473.75,"y":655,"wires":[[],["cf7a276.c8601d8","11a768eb.bc2df7","76810d7e.4bfc74"]]},{"id":"cf7a276.c8601d8","type":"function","z":"9b9bcec7.6433a","name":"extract score class1","func":"//node.warn(msg);\nvar classifiers  = msg.result.images[0].classifiers;\n\nnode.warn(classifiers);\n msg.payload = classifiers[0].classes;\nreturn msg;","outputs":1,"noerr":0,"x":516.75,"y":695.25,"wires":[["924df53e.e90838"]]},{"id":"924df53e.e90838","type":"split","z":"9b9bcec7.6433a","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":581.0000038146973,"y":760.0000104904175,"wires":[["35a92a93.873af6"]]},{"id":"b5be865a.a64228","type":"debug","z":"9b9bcec7.6433a","name":"Class1","active":false,"console":"false","complete":"true","x":473.75,"y":835,"wires":[]},{"id":"35a92a93.873af6","type":"function","z":"9b9bcec7.6433a","name":"score","func":"var payloadold ={}\nmsg.payloadold = payloadold;\nmsg.payloadold = msg.payload;\nmsg.class = msg.payload.class;\nmsg.payload = parseFloat((msg.payload.score*100).toFixed(2));\n\nreturn msg;\n","outputs":1,"noerr":0,"x":473.75,"y":795,"wires":[["b5be865a.a64228","f7a5ea11.aa2878"]]},{"id":"c4a49a75.186018","type":"function","z":"9b9bcec7.6433a","name":"test mqtt msg Const","func":"msg.payload={\ndroneName: \"IFF Toronto\",\ncameraMode: 0,\nObjectStoreImageName: \"bm9.jpg\",//\"2017-05-13 19.50.19.jpg\", //1495115457.90161.jpg\",\ncompassCalibrationStatus: 0,\nObjectStoreContainerName: \"IFFToronto\",\ncompassHeading: -51.5,\naltitude: 0,\ncameraDisplayName: \"Phantom 4 Camera\",\ncompassIsCalibrating: false,\ncompassHasError: false,\nvelocityZ: 0,\nhomeLongitude: -77.40321109748876,\nbatteryCellVoltages: 3779,\nvelocityX: 0,\nvelocityY: 0,\nhomeLatitude: 38.9041721220009}\n//2017-05-13 19.50.09.jpg \n// 2017-05-13 19.50.19.jpg \n\nreturn msg;","outputs":1,"noerr":0,"x":423.75,"y":215,"wires":[["b42646df.fb7918"]]},{"id":"ca89d97b.b4bc98","type":"function","z":"9b9bcec7.6433a","name":"test mqtt msg BadAcc","func":"msg.payload={\ndroneName: \"IFF Toronto\",\ncameraMode: 0,\nObjectStoreImageName: \"f10.jpg\",//\"2017-05-13 19.50.19.jpg\", //1495115457.90161.jpg\",\ncompassCalibrationStatus: 0,\nObjectStoreContainerName: \"IFFToronto\",\ncompassHeading: -54.5,\naltitude: 0,\ncameraDisplayName: \"Phantom 4 Camera\",\ncompassIsCalibrating: false,\ncompassHasError: false,\nvelocityZ: 0,\nhomeLongitude: -77.40321109748876,\nbatteryCellVoltages: 3779,\nvelocityX: 0,\nvelocityY: 0,\nhomeLatitude: 38.9041721220009}\n//2017-05-13 19.50.09.jpg \n// 2017-05-13 19.50.19.jpg \n\nreturn msg;","outputs":1,"noerr":0,"x":423.75,"y":175,"wires":[["b42646df.fb7918"]]},{"id":"cab3a79b.36b0b8","type":"inject","z":"9b9bcec7.6433a","name":"Fries","topic":"Fries","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":173.75,"y":175,"wires":[["ca89d97b.b4bc98"]]},{"id":"f7a5ea11.aa2878","type":"switch","z":"9b9bcec7.6433a","name":"What Type","property":"class","propertyType":"msg","rules":[{"t":"cont","v":"fast","vt":"str"},{"t":"cont","v":"badaccident","vt":"str"},{"t":"cont","v":"BigMac","vt":"str"},{"t":"cont","v":"hamburger","vt":"str"},{"t":"cont","v":"french","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":833.75,"y":935,"wires":[["1c2fc023.4c4bb"],[],["b641d9d4.4cb3c8"],["3f33a340.162adc"],["846ceedc.10c7b","5cfef87.3519a08"]]},{"id":"1c2fc023.4c4bb","type":"ui_gauge","z":"9b9bcec7.6433a","name":"","group":"b361588f.f2b5b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Fast Foot","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#b5081a","#e6e600","#2dca14"],"seg1":"","seg2":"","x":1063.75,"y":915,"wires":[]},{"id":"1ae80f31.1ffc71","type":"function","z":"9b9bcec7.6433a","name":"Save","func":"global.set(\"vrscore\",msg)\nreturn msg;","outputs":1,"noerr":0,"x":873.75,"y":535,"wires":[["1c3ecd3c.681b23"]]},{"id":"36aa7474.b3d24c","type":"function","z":"9b9bcec7.6433a","name":"TestSaved","func":"data = global.get(\"vrscore\")\nmsg.result = data.result\nreturn msg;","outputs":1,"noerr":0,"x":293.75,"y":635,"wires":[["1c3ecd3c.681b23"]]},{"id":"b97540cb.e6003","type":"inject","z":"9b9bcec7.6433a","name":"Test","topic":"Text","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":113.75,"y":635,"wires":[["36aa7474.b3d24c"]]},{"id":"11a768eb.bc2df7","type":"function","z":"9b9bcec7.6433a","name":"extract score class 2","func":"//node.warn(msg);\nvar classifiers  = msg.result.images[0].classifiers;\nnode.status({fill:\"green\",shape:\"dot\",text: \"Classifiers:\"+msg.result.custom_classes});\n    msg.payload = classifiers[1].classes;\n//node.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":523.75,"y":955,"wires":[["457627de.c5ea98"]]},{"id":"457627de.c5ea98","type":"split","z":"9b9bcec7.6433a","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":473.75,"y":1015,"wires":[["91d4f433.acd3d8"]]},{"id":"91d4f433.acd3d8","type":"change","z":"9b9bcec7.6433a","name":"Delete msg.result","rules":[{"t":"delete","p":"result","pt":"msg"},{"t":"delete","p":"params","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":513.75,"y":1055,"wires":[["a2a92b0d.257eb8"]]},{"id":"a2a92b0d.257eb8","type":"function","z":"9b9bcec7.6433a","name":"score","func":"var payloadold ={}\nmsg.payloadold = payloadold;\nmsg.payloadold = msg.payload;\nmsg.class = msg.payload.class;\nmsg.payload = parseFloat((msg.payload.score*100).toFixed(2));\n\nreturn msg;\n","outputs":1,"noerr":0,"x":473.75,"y":1095,"wires":[["df97b65f.b6e608","f7a5ea11.aa2878"]]},{"id":"df97b65f.b6e608","type":"debug","z":"9b9bcec7.6433a","name":"Class2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":473.75,"y":1155,"wires":[]},{"id":"7e28c285.f7598c","type":"function","z":"9b9bcec7.6433a","name":"score","func":"msg.payload =0;\nnode.send(msg);\nmsg.payload =100;\nnode.send(msg);\nmsg.payload =0;\nreturn msg;\n","outputs":1,"noerr":0,"x":933.75,"y":815,"wires":[["9017582e.a98548"]]},{"id":"9017582e.a98548","type":"delay","z":"9b9bcec7.6433a","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1073.75,"y":815,"wires":[["1c2fc023.4c4bb","846ceedc.10c7b","3f33a340.162adc","b641d9d4.4cb3c8"]]},{"id":"846ceedc.10c7b","type":"ui_gauge","z":"9b9bcec7.6433a","name":"","group":"b361588f.f2b5b8","order":1,"width":0,"height":0,"gtype":"gage","title":"french fries","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#b5081a","#e6e600","#2dca14"],"seg1":"","seg2":"","x":1073.75,"y":1075,"wires":[]},{"id":"759c5a10.d46734","type":"function","z":"9b9bcec7.6433a","name":"test mqtt msg BadAcc","func":"msg.payload={\ndroneName: \"IFF Toronto\",\ncameraMode: 0,\nObjectStoreImageName: \"2018-09-30 15.56.39.jpg\",//\"2017-05-13 19.50.19.jpg\", //1495115457.90161.jpg\",\ncompassCalibrationStatus: 0,\nObjectStoreContainerName: \"IFFToronto\",\ncompassHeading: -54.5,\naltitude: 0,\ncameraDisplayName: \"Phantom 4 Camera\",\ncompassIsCalibrating: false,\ncompassHasError: false,\nvelocityZ: 0,\nhomeLongitude: -77.40321109748876,\nbatteryCellVoltages: 3779,\nvelocityX: 0,\nvelocityY: 0,\nhomeLatitude: 38.9041721220009}\n//2017-05-13 19.50.09.jpg \n// 2017-05-13 19.50.19.jpg \n\nreturn msg;","outputs":1,"noerr":0,"x":723.75,"y":115,"wires":[["b42646df.fb7918"]]},{"id":"b45afc7c.f76ca","type":"inject","z":"9b9bcec7.6433a","name":"Tomato","topic":"BadAcc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":653.75,"y":155,"wires":[["759c5a10.d46734"]]},{"id":"5cfef87.3519a08","type":"function","z":"9b9bcec7.6433a","name":"Fruit?","func":"if(msg.payload >70)\n{\nmsg.payload =0;\nnode.send(msg);\n}","outputs":1,"noerr":0,"x":833.75,"y":1015,"wires":[["57dad7c5.09aa68","4e44ddb8.000e34"]]},{"id":"77f003c2.cfc63c","type":"ui_button","z":"9b9bcec7.6433a","name":"","group":"ce3a1920.20e3f8","order":2,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":933.75,"y":755,"wires":[["7e28c285.f7598c"]]},{"id":"57dad7c5.09aa68","type":"delay","z":"9b9bcec7.6433a","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":853.75,"y":1075,"wires":[[]]},{"id":"cb44ab78.9171d8","type":"debug","z":"9b9bcec7.6433a","name":"Watson","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":853.75,"y":635,"wires":[]},{"id":"4e44ddb8.000e34","type":"debug","z":"9b9bcec7.6433a","name":"Fruit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":853.75,"y":1155,"wires":[]},{"id":"9fc01639.8007c8","type":"debug","z":"9b9bcec7.6433a","name":"Class1","active":true,"console":"false","complete":"true","x":753.7500038146973,"y":815.0000114440918,"wires":[]},{"id":"3f33a340.162adc","type":"ui_gauge","z":"9b9bcec7.6433a","name":"","group":"b361588f.f2b5b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Burger","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#b5081a","#e6e600","#2dca14"],"seg1":"","seg2":"","x":1050.000015258789,"y":977.5000143051147,"wires":[]},{"id":"283954a3.a1b7ac","type":"inject","z":"9b9bcec7.6433a","name":"Fries","topic":"Fries","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":171.25,"y":220,"wires":[["c4a49a75.186018"]]},{"id":"27e48561.0de87a","type":"ui_button","z":"9b9bcec7.6433a","name":"","group":"ce3a1920.20e3f8","order":3,"width":0,"height":0,"passthru":false,"label":"Burger","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":283.75000762939453,"y":60.000000953674316,"wires":[["c4a49a75.186018"]]},{"id":"76810d7e.4bfc74","type":"function","z":"9b9bcec7.6433a","name":"extract score class 3","func":"//node.warn(msg);\nvar classifiers  = msg.result.images[0].classifiers;\nnode.status({fill:\"green\",shape:\"dot\",text: \"Classifiers:\"+msg.result.custom_classes});\n    msg.payload = classifiers[2].classes;\n//node.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":472.5,"y":1242.5,"wires":[["6fd78532.0ba02c"]]},{"id":"6fd78532.0ba02c","type":"split","z":"9b9bcec7.6433a","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":422.5,"y":1302.5,"wires":[["ef6cfbd4.7dc178"]]},{"id":"ef6cfbd4.7dc178","type":"change","z":"9b9bcec7.6433a","name":"Delete msg.result","rules":[{"t":"delete","p":"result","pt":"msg"},{"t":"delete","p":"params","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":462.5,"y":1342.5,"wires":[["abd349ae.9e5a58"]]},{"id":"abd349ae.9e5a58","type":"function","z":"9b9bcec7.6433a","name":"score","func":"var payloadold ={}\nmsg.payloadold = payloadold;\nmsg.payloadold = msg.payload;\nmsg.class = msg.payload.class;\nmsg.payload = parseFloat((msg.payload.score*100).toFixed(2));\n\nreturn msg;\n","outputs":1,"noerr":0,"x":422.5,"y":1382.5,"wires":[["42fb3250.0177ec","f7a5ea11.aa2878"]]},{"id":"42fb3250.0177ec","type":"debug","z":"9b9bcec7.6433a","name":"Class3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":422.5,"y":1442.5,"wires":[]},{"id":"b641d9d4.4cb3c8","type":"ui_gauge","z":"9b9bcec7.6433a","name":"","group":"b361588f.f2b5b8","order":1,"width":0,"height":0,"gtype":"gage","title":"BigMac","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#b5081a","#e6e600","#2dca14"],"seg1":"","seg2":"","x":1101.25,"y":1027.5,"wires":[]},{"id":"1fa10ae2.3f7075","type":"http in","z":"8d43ea1a.bf0038","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":182.5,"y":110.75,"wires":[["9b7d8397.dae93"]]},{"id":"9b7d8397.dae93","type":"template","z":"8d43ea1a.bf0038","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>\n\t  Ask TJBOT \n\t</title>\n\n  </head>\n  <body>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        THIS APP works only in CHROME desktop with js enabled!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h3>TJBot in Chrome : Hotword is \"Watson\" <br>Say Watson, what's the time</h3>\n      <div id=id_botchathistory>\n\t  </div>\n\t  start:<img alt=\"Start\" onclick=\"keepgoing =true; recognition.start();\" id=\"start_img\">\n\t  stop:<img alt=\"Stop\" onclick=\" keepgoing =false; recognition.stop();\" id=\"stop_img\">\n\t  <div>\n\t      \n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n               <button onclick=\"javascript:onChatClick()\">Send</button>\n            <br>\n            <div id=\"text\">Connecting... to ws/audio</div>\n            <audio id=\"output\"></audio>\n\n\t  </div>\n\t  Note: Its contantly lisiting unless \"Watson stop\" is detected or the stop button is clicked.\n    </div>\n\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <script type=\"text/javascript\">\n    \n    var socketaddy = \"wss://\" + window.location.host + \"/ws/tjaudio\";\n    var myevent=\"\";\n  var     keepgoing = true;\n  var starttime =0;\n   var text = document.getElementById('id_chattext')\n   var ipaddr;\n    $(document).ready(function(){\n        // $.getJSON(\"https://jsonip.com/?callback=?\", function (data) {\n      //  console.log(data);\n        //alert(data.ip);\n         ipaddr =\"192.168.0.1\";// data.ip;// 192.168.0.1\n//    });\n        console.log(\"Websocket start : \"+myevent); \n        text.value = \"Hi\";\n    // onChatClick();\n start_img.src = \"https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif\"\nstop_img.src = \"https://www.google.com/intl/en/chrome/assets/common/images/content/mic-slash.gif\"\n           recognition.start();\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n        \n    $(\"#id_chattext\").keyup(function(event){\n    if(event.keyCode == 13){\n        console.log(\"got a return\")\n       onChatClick();\n    }\n});    \n          \t\n          var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Watson talking events. \\n Event: '+myevent )\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Watson waiting for audio...')\n          //window.location.reload();\n             keepgoing=true;\n             recognition.start(); \n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n          window.location.reload();\n          \n      }\n      sock.onmessage = function(evt){\n             keepgoing=false;\n             recognition.stop(); \n             start_img.src = \"https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif\"\n\n        console.log(\"Got Websocket message: \"); \n    \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\t\n          \t\n          \t\n          \t\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('Got Post Response'+\" time \"+(Date.now()-starttime));\n       console.log(response);\n    //    console.log(response.botresponse.messageout);\n       // console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n    //    console.log('checking stashed context data');\n       console.log(\"Start Posting time \"+(Date.now()-starttime));\n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        ajaxData.user= ipaddr;\n          ajaxData.ipaddr= ipaddr;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: '/tjchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        if (txt == \"\")\n        return;\n        \n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n         $('#id_chattext').val(\"\");\n      }\n      \n\nvar hotword = \"tj\";     \nvar hotword1 = \"dude\"; \nvar hotword2 = \"watson\"; \nvar stopwords = \"tj stop\";  \nvar stopword2 = \"watson stop\";  \n var final_transcript =\"\";     \n     \n var recognition = new webkitSpeechRecognition();\n  recognition.continuous = true;\n  recognition.interimResults = true;\n\n  recognition.onstart = function() {\n    recognizing = false;\n   console.log(\"recognition.onstart\");\n    start_img.src = 'https://www.google.com/intl/en/chrome/assets/common/images/content/mic-animate.gif';\n \n  };    \n  recognition.onerror = function(event) {  \n      start_img.src = \"https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif\"\n\n      console.log(\"speech Error \"+event);\n  }\n  \n    recognition.onend = function() {\n          start_img.src = \"https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif\"\n\n    console.log(\"speech onend\");\n    if (  keepgoing)\n      recognition.start();\n    }\n    \n    recognition.onnomatch = function() {\n        console.log('Speech not recognised');\n    }\n\n    \n recognition.onresult = function(event) {\n    var interim_transcript = '';\n  \n    for (var i = event.resultIndex; i < event.results.length; ++i) {\n      if (event.results[i].isFinal &&  keepgoing) {\n        final_transcript = event.results[i][0].transcript;\n      console.log(\"hotword1 = \" +hotword1+\" res = \"+final_transcript.toLowerCase().indexOf(hotword1))\n        \n        if (final_transcript.toLowerCase().indexOf(hotword) >= 0 || final_transcript.toLowerCase().indexOf(hotword1) >= 0 || final_transcript.toLowerCase().indexOf(hotword2) >= 0)\n        {\n          console.log(\"Got the Hotword final \"+\" time \"+(Date.now()-starttime));\n         \n           \n               final_transcript = final_transcript.toLowerCase().replace(hotword, \"\"); \n                final_transcript = final_transcript.toLowerCase().replace(hotword1, \"\"); \n                final_transcript = final_transcript.toLowerCase().replace(hotword2, \"\"); \n                 text.value = final_transcript;\n              console.log(\"Final = \"+ final_transcript);\n            onChatClick();\n            \n        }    \n  final_transcript =\"\";\n  \n  start_img.src = \"https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif\"\n      } else {\n  console.log(\"interim_transcript = \"+ event.results[i][0].transcript+\" time \"+Date.now())\n  \n        if (final_transcript.toLowerCase().indexOf(hotword) >= 0 || final_transcript.toLowerCase().indexOf(hotword1) >= 0 || final_transcript.toLowerCase().indexOf(hotword2) >= 0)\n       \n        {\n          starttime =     Date.now();\n          console.log(\"Got the Hotword interim \"+ event.results[i][0].transcript);\n         start_img.src = 'https://www.google.com/intl/en/chrome/assets/common/images/content/mic-animate.gif';\n        }  \n        interim_transcript += event.results[i][0].transcript;\n        \n        if (interim_transcript.toLowerCase().indexOf(stopwords) >= 0 || interim_transcript.toLowerCase().indexOf(stopword2) >= 0)\n        {\n            console.log(\"Got the stopwords \"+interim_transcript);\n            keepgoing=false;\n              recognition.stop(); \n              start_img.src = \"https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif\"\n\n        }    \n        \n      }\n    }\n }\n    \n    </script>\n  </body>\n</html>\n","x":438.5,"y":109.75,"wires":[["dd0fb2c0.3ff39"]]},{"id":"dd0fb2c0.3ff39","type":"http response","z":"8d43ea1a.bf0038","name":"","x":652.5,"y":110.75,"wires":[]},{"id":"b792ee8a.3fadb","type":"http in","z":"8d43ea1a.bf0038","name":"BOT REST API","url":"/tjchat","method":"post","swaggerDoc":"","x":190.5,"y":195.75,"wires":[["18edd183.4409ce","425958ce.753538"]]},{"id":"8c9eeb70.aa2868","type":"http response","z":"8d43ea1a.bf0038","name":"","x":985.2144165039062,"y":200.32144165039062,"wires":[]},{"id":"18edd183.4409ce","type":"function","z":"8d43ea1a.bf0038","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\nmsg.params = { \n  \"context\": {\n    \"timezone\": \"America/New_York\",\n    \"$timezone\": \"America/New_York\",\n    \"tjroomtemp\": global.get(\"tjroomtemp\"),\n   \"jtroomhumidity\": global.get(\"tjroomhumi\"),\n   \"tjled\":  global.get(\"tjled\"),\n   \"tjarm\": global.get(\"tjarm\")\n  }\n  \n  \n}  \nreturn msg;","outputs":1,"noerr":0,"x":425.5,"y":195.75,"wires":[["dd5a1357.4a728"]]},{"id":"c1ce5f32.50d08","type":"function","z":"8d43ea1a.bf0038","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":737.5713500976562,"y":194.8372802734375,"wires":[["8c9eeb70.aa2868"]]},{"id":"425958ce.753538","type":"debug","z":"8d43ea1a.bf0038","name":"IntoConvo","active":true,"console":"false","complete":"payload","x":187,"y":241.25,"wires":[]},{"id":"48e96fa.9efd19","type":"comment","z":"8d43ea1a.bf0038","name":"a little Bot /bot","info":"","x":181,"y":72.5,"wires":[]},{"id":"28ea583.be3a1a8","type":"comment","z":"8d43ea1a.bf0038","name":"Bot Conversation","info":"","x":183.5,"y":155.75,"wires":[]},{"id":"57e45b4c.9d9574","type":"debug","z":"8d43ea1a.bf0038","name":"fromConvo","active":true,"console":"false","complete":"payload","x":643.0357055664062,"y":286.46429443359375,"wires":[]},{"id":"dd5a1357.4a728","type":"watson-conversation-v1","z":"8d43ea1a.bf0038","name":"Coversatio-41","workspaceid":"e5823f38-ad47-4647-b088-d025a365d3c6","multiuser":false,"context":true,"x":422.1666564941406,"y":285.5,"wires":[["57e45b4c.9d9574","c1ce5f32.50d08"]]},{"id":"dcd90d98.b637d","type":"websocket out","z":"8d43ea1a.bf0038","name":"","server":"6aa74337.d2560c","client":"","x":862.5000038146973,"y":406.25000762939453,"wires":[]},{"id":"7944cc5d.508e44","type":"function","z":"8d43ea1a.bf0038","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":671.2272987365723,"y":406.6395950317383,"wires":[["dcd90d98.b637d"]]},{"id":"d3758972.a32f28","type":"watson-text-to-speech","z":"8d43ea1a.bf0038","name":"TTS","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","x":509.5520668029785,"y":408.6785354614258,"wires":[["7944cc5d.508e44"]]},{"id":"4db99ca3.cfb494","type":"function","z":"8d43ea1a.bf0038","name":"text output","func":"msg.payload = \"Hello Markus\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320.92871475219727,"y":408.25003814697266,"wires":[["d3758972.a32f28","832cb2ce.ad6b1"]]},{"id":"832cb2ce.ad6b1","type":"debug","z":"8d43ea1a.bf0038","name":"TTS","active":true,"console":"false","complete":"payload","x":581.0715370178223,"y":467.6785354614258,"wires":[]},{"id":"5e585b11.917b44","type":"inject","z":"8d43ea1a.bf0038","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104.375,"y":407.5,"wires":[["4db99ca3.cfb494"]]},{"id":"64bd6e26.cd796","type":"http in","z":"b2bc5b4b.9b9148","name":"/vrtest1","url":"/vrtest1","method":"get","upload":false,"swaggerDoc":"","x":147,"y":723,"wires":[["3d4984c1.c0f6dc"]]},{"id":"e5467402.484278","type":"change","z":"fd787846.4b6958","name":"payload to angle","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.oa","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439.9999694824219,"y":991.1110572814941,"wires":[["94c4e857.f7ffb8","96c01f90.57fc1","4ce0925c.6afc2c","4af95b1e.678ac4"]]},{"id":"94c4e857.f7ffb8","type":"debug","z":"fd787846.4b6958","name":"","active":false,"console":false,"complete":"false","x":589.9999694824219,"y":931.1110572814941,"wires":[]},{"id":"96c01f90.57fc1","type":"ui_gauge","z":"fd787846.4b6958","name":"","group":"5e7c8adf.628d64","order":0,"width":0,"height":0,"gtype":"compass","title":"Compass","label":"degrees","format":"{{value | number:1}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":789.9999694824219,"y":991.1110572814941,"wires":[]},{"id":"4ce0925c.6afc2c","type":"switch","z":"fd787846.4b6958","name":"Direction","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"45","v2t":"num"},{"t":"btwn","v":"315","vt":"num","v2":"360","v2t":"num"},{"t":"btwn","v":"45","vt":"num","v2":"135","v2t":"num"},{"t":"btwn","v":"135","vt":"num","v2":"225","v2t":"num"},{"t":"btwn","v":"225","vt":"num","v2":"315","v2t":"num"}],"checkall":"true","outputs":5,"x":449.9999694824219,"y":1091.1110572814941,"wires":[["5bc6716f.a96c4"],["5bc6716f.a96c4"],["84dca09.1c8296"],["3647b208.f9650e"],["3e4f431d.8bceac"]]},{"id":"5bc6716f.a96c4","type":"template","z":"fd787846.4b6958","name":"North","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"North","output":"str","x":639.9999694824219,"y":1051.1110572814941,"wires":[["fc29ca03.794148"]]},{"id":"84dca09.1c8296","type":"template","z":"fd787846.4b6958","name":"East","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"East","output":"str","x":639.9999694824219,"y":1091.1110572814941,"wires":[["fc29ca03.794148"]]},{"id":"3e4f431d.8bceac","type":"template","z":"fd787846.4b6958","name":"West","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"West","output":"str","x":639.9999694824219,"y":1171.1110572814941,"wires":[["fc29ca03.794148"]]},{"id":"3647b208.f9650e","type":"template","z":"fd787846.4b6958","name":"South","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"South","output":"str","x":639.9999694824219,"y":1131.1110572814941,"wires":[["fc29ca03.794148"]]},{"id":"fc29ca03.794148","type":"ui_text","z":"fd787846.4b6958","group":"5e7c8adf.628d64","order":0,"width":0,"height":0,"name":"","label":"Direction","format":"{{msg.payload}}","layout":"row-spread","x":799.9999694824219,"y":1111.1110572814941,"wires":[]},{"id":"b2c13fcb.207e","type":"comment","z":"fd787846.4b6958","name":"User interface to display a compass ","info":"","x":259.9999694824219,"y":871.1110572814941,"wires":[]},{"id":"4af95b1e.678ac4","type":"ui_chart","z":"fd787846.4b6958","name":"","group":"5e7c8adf.628d64","order":0,"width":0,"height":0,"label":"Angel","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":779.9999694824219,"y":931.1110572814941,"wires":[[],[]]},{"id":"14be4b72.4cd1a5","type":"ibmiot out","z":"fd787846.4b6958","authentication":"apiKey","apiKey":"5b92075f.eed9d8","outputType":"cmd","deviceId":"Markus","deviceType":"iotphone","eventCommandType":"update","format":"json","data":"message.event","qos":"","name":"iotphone","service":"registered","x":849.9999694824219,"y":1311.1110572814941,"wires":[]},{"id":"d9ea8822.869948","type":"function","z":"fd787846.4b6958","name":"SendComand","func":"\nvar now = ( new Date() ).getTime();\nvar col =  \"#\"+Math.random().toString(16).slice(-6);\nvar newMsg = {\"d\":{\n    \"myName\":\"BLINK\",\n    \"Action\" : 33,\n    \"Color\" : col,\n    \"Special\"  : \"Breath\",\n    \"userValue\": (Math.random() * (100 - 5 + 1) | 0) + 5,\n    \"deviceid\":  \"Markus\",\n    \"msgsent\": 1,\n    \"devices\":  1,\n    \"ts\" : now\n    }};\n//msg.payload.d.myName = \"MarkusViaNodeRed\";\n//msg.payload.d.Color = col;\n\n//msg.payload = JSON.stringify(newMsg);\n\n\nmsg.payload = newMsg\nreturn  msg;","outputs":1,"noerr":0,"x":629.9999694824219,"y":1311.1110572814941,"wires":[["14be4b72.4cd1a5","8db8fb69.d056e8"]]},{"id":"8b2a07e.63e43f8","type":"inject","z":"fd787846.4b6958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":249.99996948242188,"y":1311.1110572814941,"wires":[["d9ea8822.869948"]]},{"id":"8db8fb69.d056e8","type":"debug","z":"fd787846.4b6958","name":"","active":true,"console":"false","complete":"false","x":859.9999694824219,"y":1271.1110572814941,"wires":[]}]
